<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99Cats, <%= @user.username %></h1>
    <p>
      You have successfully signed up to the 99Cats website.
      Your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      Head on over and rent a cat.
      We have many fine cats.
      Why haven't you rented one yet.
      Instead of reading this email, you could be petting your cat.
      Start petting a cat you dingo.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
