Welcome to 99Cats, <%= @user.username %>
====================================

You have successfully signed up to the 99Cats website.
Your username is: <%= @user.username %>.<br/>

Head on over and rent a cat.
We have many fine cats.
Why haven't you rented one yet.
Instead of reading this email, you could be petting your cat.
Start petting a cat you dingo.

Thanks for joining and have a great day!</p>
